= render '/shared/header'



.products-container
  .products-index
    .title
      = "#{@category.name}の商品一覧"
      .title__border
    .category_wrapper
      .category_links
      - @category_links.each do |category|
        = link_to category.name, category_path(category)
    - if @items
      %ul.lists
        - @items.each do |item|
          = image_tag item.item_images.first.item_image.url
          = link_to item.name, item_path(item)

= render '/shared/footer'
