.singup-index-footer
  %ul
    %li
      = link_to 'ブライバシーポリシー', '#'
    %li
      = link_to 'FURIMA利用規約', '#'
    %li
      = link_to '特定商取引に関する表記', '#'
  .singup-index-footer--logo
    = link_to root_path do
      = image_tag src="logo.png"