.singup-index-main
  %h2.singup-index-main__head
    新規会員登録
  .singup-index-main__inner
    = link_to '/signup/registration_user_information', class: 'singup-index-main__inner--btn-default singup-index-main__inner--btn-mail' do
      = icon 'far', 'envelope'
      メールアドレスで登録する
    = link_to '#', class: 'singup-index-main__inner--btn-default singup-index-main__inner--btn-google' do
      = image_tag src='google.png'
      Googleで登録する
    = link_to '#', class: 'singup-index-main__inner--btn-default singup-index-main__inner--btn-facebook' do
      = icon 'fab', 'facebook-square'
      Facebookで登録する
    = link_to '#', class: 'singup-index-main__inner--btn-default singup-index-main__inner--btn-apple' do
      = icon 'fab', 'apple'
      Appleで登録する
    .singup-index-main__inner__announce
      %p
        登録することで、
        = link_to '利用規約', '#' 
        と
        = link_to 'プライバシーポリシー', '#'
        に
        %br
        同意したものとみなされます。
      
