- if user_signed_in?
  - if Like.find_by(user_id: current_user.id, item_id: @item.id)
    = link_to item_like_path(@item, item.id), method: :delete, remote: true, class: "main__show__contents__content__item-box__optional__likes-on" do
      = icon('fa', 'heart', class: "main__show__contents__content__item-box__optional__likes-on__heart")
      .main__show__contents__content__item-box__optional__likes-on__text いいね!
      .main__show__contents__content__item-box__optional__likes-on__count
        = Like.where(item_id: item.id).count
  - else
    = link_to item_likes_path(@item), method: :post, remote: true, class: "main__show__contents__content__item-box__optional__likes-off" do
      = icon('fa', 'heart', class: "main__show__contents__content__item-box__optional__likes-off__heart")
      .main__show__contents__content__item-box__optional__likes-off__text いいね!
      .main__show__contents__content__item-box__optional__likes-off__count
        = Like.where(item_id: item.id).count
- else
  .main__show__contents__content__item-box__optional__likes-logout
    = icon('fa', 'heart', class: "main__show__contents__content__item-box__optional__likes-logout__heart")
    .main__show__contents__content__item-box__optional__likes-logout__text いいね!