.footer
  .footer__upper
    .footer__upper__contents
      .footer__upper__contents__title
        だれでもかんたん、人生を変えるフリマアプリ
      .footer__upper__contents__text
        今すぐ無料ダウンロード！
      .footer__upper__contents__icons
        = link_to "#" do
          = image_tag "app-store.svg", class: "footer__upper__contents__icons__apple"
        = link_to "#" do
          = image_tag "google-play.svg", class: "footer__upper__contents__icons__google"
  .footer__lawer
    .footer__lawer__lists
      .footer__lawer__lists__list
        .footer__lawer__lists__list__title
          FURIMAについて
        .footer__lawer__lists__list__links
          = link_to "会社概要（運営会社）", "#", class: "footer__lawer__lists__list__links__link"
          = link_to "プライバシーポリシー", "#", class: "footer__lawer__lists__list__links__link"
          = link_to "FURIMA利用規約", "#", class: "footer__lawer__lists__list__links__link"
          = link_to "ポイントに関する特約", "#", class: "footer__lawer__lists__list__links__link"
      .footer__lawer__lists__list
        .footer__lawer__lists__list__title
          FURIMAを見る
        .footer__lawer__lists__list__links
          = link_to "カテゴリー一覧", "#", class: "footer__lawer__lists__list__links__link"
          = link_to "ブランド一覧", "#", class: "footer__lawer__lists__list__links__link"
      .footer__lawer__lists__list
        .footer__lawer__lists__list__title
          ヘルプ&ガイド
        .footer__lawer__lists__list__links
          = link_to "FURIMAガイド", "#", class: "footer__lawer__lists__list__links__link"
          = link_to "FURIMAロゴ利用ガイドライン", "#", class: "footer__lawer__lists__list__links__link"
          = link_to "お知らせ", "#", class: "footer__lawer__lists__list__links__link"
    .footer__lawer__logo
      = link_to root_path do
        = image_tag "logo-white.png", class: "footer__lawer__logo__btn"
    .footer__lawer__copyright
      © FURIMA