.nav-box
  %ul.nav-box__lists
    %li.nav-box__lists__list
      = link_to "FURIMA", root_path, class: "nav-box__lists__list__name"
    %li.nav-box__lists__list
      = icon('fa', 'angle-right', class: "nav-box__lists__list__icon")
    %li.nav-box__lists__list
      = link_to "ベビー・キッズ", "#", class: "nav-box__lists__list__name"
    %li.nav-box__lists__list
      = icon('fa', 'angle-right', class: "nav-box__lists__list__icon")
    %li.nav-box__lists__list
      = link_to "ベビー服(男の子用) ~95cm", "#", class: "nav-box__lists__list__name"
    %li.nav-box__lists__list
      = icon('fa', 'angle-right', class: "nav-box__lists__list__icon")
    %li.nav-box__lists__list
      = link_to "アウター", "#", class: "nav-box__lists__list__name"
    %li.nav-box__lists__list
      = icon('fa', 'angle-right', class: "nav-box__lists__list__icon")
    %li.nav-box__lists__list
      .nav-box__lists__list__item-name
        item名