.wrapper
  .containerCategory
    %h2.containerCategory__title
      ピックアップカテゴリー
    .containerCategory__product
      .containerCategory__product--head
        = link_to "#", class: "products--head" do
          %h3.head
            .head__left  新規投稿商品
      .containerCategory__product--lists
        %figure.containerCategory__images
          = image_tag "IMG_9072.jpg", class: "containerCategory__images__image"

        %h3.item__name
          ee
        %p.item__detail
          1000円
          %li ★ 0
        %p.taxIncluded （税込）

      .containerCategory__product--lists
        %figure.containerCategory__images
          = image_tag "a001.png", class: "containerCategory__images__image"
        %h3.item__name
          product3
        %p.item__detail
          30000円
          %li ★ 0
        %p.taxIncluded （税込）

      .containerCategory__product--lists
        %figure.containerCategory__images
          = image_tag "a004.png", class: "containerCategory__images__image"
        %h3.item__name
          product2
        %p.item__detail
          20000円
          %li ★ 0
        %p.taxIncluded （税込）

      .containerCategory__product--lists
        %figure.containerCategory__images
          = image_tag "a007.png", class: "containerCategory__images__image"
        %h3.item__name
          product1
        %p.item__detail
          10000円
          %li ★ 1
        %p.taxIncluded （税込）




        -# - @items.each do |product|
        -#   = link_to product_path(product), class: "listBtn" do
        -#     %figure.product__images
        -#       = image_tag product.images[0].name.url, alt: "image_url",size: "200x150", class:"new-img"
        -#     .containerCategory__product--lists__list--body
        -#       %h3.product--name
        -#         = product.name
        -#       .containerCategory__product--lists__list--body__details
        -#         %ul.details__menu
        -#           %li
        -#             = product.price
        -#             円
        -#           %li ★
        -#       %p.taxIncluded （税込）