.wrapper
  .containerCategory
    %h2.containerCategory__title
      ピックアップカテゴリー
    .containerCategory__head
      = link_to "新規投稿商品" ,"#", class: "containerCategory__head__link" 
    .containerCategory__product
      .containerCategory__product__lists
      - @items.first(5).each do |product|
        - unless product.purchase.present?
          = link_to item_path(product), class: "containerCategory__product__lists__link" do
            %figure.containerCategory__product__lists__link__images
              = image_tag product.item_images[0].item_image.url, alt: "image_url",size: "200x150", class:"containerBrand__product__lists__link__images__image"
            .containerCategory__product__lists__link__body
              .containerCategory__product__lists__link__body__name
                = product.name
              .containerCategory__product__lists__link__body__detail
                .containerCategory__product__lists__link__body__detail__price
                  = product.price
                  円
                .containerCategory__product__lists__link__body__detail__icon
                  ★
              .containerCategory__product__lists__link__body__tax （税込）
      
