.wrapper
  = render "appBanner"
  = render "diaplayBth"
  = render "footer"
  = render "header"
  = render "mainVisual"
  = render "pickupBrand"
  = render "pickupCategory"
  = render "toplntroduction"
  = render "topKeyFeatures"
  = render "topMiddleDl"