.wrapper
  = render "appBanner"
  = render "displayBth"
  = render "footer"
  = render "header"
  = render "mainVisual"
  = render "pickupBrand"
  = render "pickupCategory"
  = render "topIntroduction"
  = render "topKeyFeatures"
  = render "topMiddleDl"