.wrapper
  = render "appBanner"
  = render "displayBth"
  = render "footer"
  = render "header"
  = render "mainVisual"
  = render "pickupBrand"
  = render "pickupCategory"
  = render "topIntroduction"
  = render "topKeyFeatures"
  = render "topMiddleDl"
  %header
  .header
    %ul.parent-wrap
      %li.parent
        %h3
          =link_to '/' do
            %spna リスト１
        %ul.child-wrap
          %li.child
            =link_to '/' do
              %span 1-1
            %ul.grand-child-wrap
              %li.grand-child
                =link_to '/' do
                  %span 1-1-1
              %li.grand-child
                =link_to '/' do
                  %span 1-1-2
              %li.grand-child
                =link_to '/' do
                  %span 1-1-3
          %li.child
            =link_to '/' do
              %span 1-2

          %li.child
            =link_to '/' do
              %span 1-3

      %li.parent
        %h3
          =link_to '/' do
            %span リスト２
        %ul.child-wrap
          %li.child
            =link_to '/' do
              %span 2-1
            %ul.grand-child-wrap
              %li.grand-child
                =link_to '/' do
                  %span 2-1-1
              %li.grand-child
                =link_to '/' do
                  %span 2-1-2
              %li.grand-child
                =link_to '/' do
                  %span 2-1-3
          %li.child
            =link_to '/' do
              %span 2-2
          %li.child
            =link_to '/' do
              %span 2-3

      %li.parent
        %h3
          =link_to '/' do
            %span リスト３
        %ul.child-wrap
          %li.child
            =link_to '/' do
              %span 3-1
          %li.child
            =link_to '/' do
              %span 3-2
          %li.child
            =link_to '/' do
              %span 3-3

      %li.parent
        %h3
          =link_to '/' do
            %spna リスト4
        %ul.child-wrap
          %li.child
            =link_to '/' do
              %span 4-1
          %li.child
            =link_to '/' do
              %span 4-2
          %li.child
            =link_to '/' do
              %span 4-3