.search-wrapper
  .search-content
    .sc-side
      .sc-side__detail
        = search_form_for(@q, url: items_searches_path, id: 'item_search_form') do |f|
          %h4.sc-side__detail__title
            %span 詳細検索
            -# キーワードの検索条件
          .sc-side__detail__field
            %h5.sc-side__detail__field__label
              %i.fas.fa-plus
              = f.label :name_or_text_cont, 'キーワードを追加する'
            .sc-side__detail__field__form
              = f.text_field :name_or_text_cont, placeholder: '例)'

            -# 価格の検索条件
          .sc-side__detail__field
            %h5.sc-side__detail__field__label
              %i.fas.fa-search-dollar
              = f.label :price, '価格'
            .sc-side__detail__field__form
            .sc-side__detail__field__form.price-range
              = f.number_field :price_gteq, placeholder: "¥ Min", class: 'price-range__input'
              .price-range__swang 〜
              = f.number_field :price_lteq, placeholder: "¥ Max", class: 'price-range__input'

            -# 商品の状態の検索条件
          .sc-side__detail__field
            %h5.sc-side__detail__field__label
              %i.fas.fa-star
              = f.label :condition_id_eq, '商品の状態'

            .sc-side__detail__field__form.checkbox-list
              .sc-side__detail__field__form--checkbox.js_search_checkbox-all
                .sc-side__detail__field__form--checkbox__btn
                  %input{type: 'checkbox', id: 'condition_all', class: 'js-checkbox-all'}
                .sc-side__detail__field__form--checkbox__label
                  = label_tag :condition_all, 'すべて'

              = f.collection_check_boxes :condition_in, Item.conditions, :last, :first, include_hidden: false do |b|
                .sc-side__detail__field__form--checkbox
                  .sc-side__detail__field__form--checkbox__btn.js_search_checkbox
                    = b.check_box
                  .sc-side__detail__field__form--checkbox__label
                    = b.label { b.text}
                    
            -# 配送料の検索条件
          .sc-side__detail__field
            %h5.sc-side__detail__field__label
              %i.fas.fa-truck
              = f.label :fee_burden_flag, '配送料の負担'
              
            .sc-side__detail__field__form.checkbox-list
              .sc-side__detail__field__form--checkbox.js_search_checkbox-all
                .sc-side__detail__field__form--checkbox__btn
                  %input{type: 'checkbox', id: 'fee_burden_flag_all', class: 'js-checkbox-all'}
                .sc-side__detail__field__form--checkbox__label
                  = label_tag :fee_burden_flag_all, 'すべて'

              = f.collection_check_boxes :fee_burden_in, Item.fee_burdens, :last, :first, include_hidden: false do |b|
                .sc-side__detail__field__form--checkbox
                  .sc-side__detail__field__form--checkbox__btn.js_search_checkbox
                    = b.check_box
                  .sc-side__detail__field__form--checkbox__label
                    = b.label { b.text}

            -# 販売状況の検索条件
          .sc-side__detail__field
            %h5.sc-side__detail__field__label
              %i.fas.fa-shopping-cart
              = f.label :trading_status_id_in, '販売状況'

            .sc-side__detail__field__form.checkbox-list
              .sc-side__detail__field__form--checkbox.js_search_checkbox-all
                .sc-side__detail__field__form--checkbox__btn
                  %input{type: 'checkbox', id: 'trading_status_all', class: 'js-checkbox-all'}
                .sc-side__detail__field__form--checkbox__label
                  = label_tag :trading_status_all, 'すべて'
              = f.collection_check_boxes :auction_status_in, Item.auction_statuses, :last, :first, include_hidden: false do |b|
                .sc-side__detail__field__form--checkbox
                  .sc-side__detail__field__form--checkbox__btn.js_search_checkbox
                    = b.check_box
                  .sc-side__detail__field__form--checkbox__label
                    = b.label { b.text.gsub('出品中', '販売中')}

            -# 検索実行ボタン/クリアボタン
          .sc-side__detail__field.search-action
            .search-action__box
              = f.submit '完了', id: 'detail_search_btn', class: 'search-action__box__btn'
