.main-section
  - @items.each do |item|
    = link_to item_path(item.id) do
      = item.name

  = render "sell-tab"
  = render "shared/header"
  = render "shared/mainVisual"
  = render "shared/topIntroduction"
  = render "shared/topMiddleDl"
  = render "shared/topKeyFeatures"
  = render "shared/pickupCategory"
  = render "shared/pickupBrand"
  = render "shared/footer"
