.main-section
  = render "sell-tab"

= link_to signup_index_path do
  新規登録
= link_to new_user_session_path do
  ログイン
= link_to destroy_user_session_path, method: :delete do
  ログアウト
- if user_signed_in?
  %h3 ログイン中
- else
  %h3 未ログイン
- @items.each do |item|
  = link_to item_path(item.id) do
    = item.name
