= render '/shared/header'
-# 追加実装タスク【サーバサイド】パンくず実装時、使用
-# = render '/shared/nav-box'

.main
  .main__show
    .main__show__contents
      .main__show__contents__content
        .main__show__contents__content__item-box
          .main__show__contents__content__item-box__name
            %h2= @item.name
          .main__show__contents__content__item-box__body
            %ul.main__show__contents__content__item-box__body__photo
              %li.main__show__contents__content__item-box__body__photo__content
                = image_tag "sample/sample1.png", class: "main__show__contents__content__item-box__body__photo__content__upper"
                %ul.main__show__contents__content__item-box__body__photo__content__lawer
                  %li.main__show__contents__content__item-box__body__photo__content__lawer__image-box
                    = image_tag "sample/sample1.png", class: "main__show__contents__content__item-box__body__photo__content__lawer__image-box__image"
                  %li.main__show__contents__content__item-box__body__photo__content__lawer__image-box
                    = image_tag "sample/sample2.png", class: "main__show__contents__content__item-box__body__photo__content__lawer__image-box__image"
                  %li.main__show__contents__content__item-box__body__photo__content__lawer__image-box
                    = image_tag "sample/sample3.png", class: "main__show__contents__content__item-box__body__photo__content__lawer__image-box__image"
          .main__show__contents__content__item-box__price
            .main__show__contents__content__item-box__price__item-price
              = "¥#{@item.price}"
            .main__show__contents__content__item-box__price__detail
              .main__show__contents__content__item-box__price__detail__tax
                (税込)送料込み
          - if user_signed_in?
            - unless current_user.id
              .main__show__contents__content__item-box__purchase
                = link_to "購入画面に進む", purchase_items_path, class: "main__show__contents__content__item-box__purchase__link"
          .main__show__contents__content__item-box__detail
            = @item.text
          .main__show__contents__content__item-box__table
            %table.main__show__contents__content__item-box__table__content
              %tbody.main__show__contents__content__item-box__table__content__tbody
                %tr.main__show__contents__content__item-box__table__content__tbody__tr
                  %th.main__show__contents__content__item-box__table__content__tbody__tr__th
                    出品者
                  %td.main__show__contents__content__item-box__table__content__tbody__tr__td
                    user.name
                %tr.main__show__contents__content__item-box__table__content__tbody__tr
                  %th.main__show__contents__content__item-box__table__content__tbody__tr__th
                    カテゴリー
                  %td.main__show__contents__content__item-box__table__content__tbody__tr__td
                    = link_to "#{@item.category.parent.parent.name}", "#"
                    %br
                    = link_to "#{@item.category.parent.name}", "#"
                    %br
                    = link_to "#{@item.category.name}", "#"
                %tr.main__show__contents__content__item-box__table__content__tbody__tr
                  %th.main__show__contents__content__item-box__table__content__tbody__tr__th
                    ブランド
                  %td.main__show__contents__content__item-box__table__content__tbody__tr__td
                    = @item.brand.name
                %tr.main__show__contents__content__item-box__table__content__tbody__tr
                  %th.main__show__contents__content__item-box__table__content__tbody__tr__th
                    商品のサイズ
                  %td.main__show__contents__content__item-box__table__content__tbody__tr__td
                    = @item.size.name
                %tr.main__show__contents__content__item-box__table__content__tbody__tr
                  %th.main__show__contents__content__item-box__table__content__tbody__tr__th
                    商品の状態
                  %td.main__show__contents__content__item-box__table__content__tbody__tr__td
                    = @item.condition
                %tr.main__show__contents__content__item-box__table__content__tbody__tr
                  %th.main__show__contents__content__item-box__table__content__tbody__tr__th
                    配送料の負担
                  %td.main__show__contents__content__item-box__table__content__tbody__tr__td
                    = @item.fee_burden
                %tr.main__show__contents__content__item-box__table__content__tbody__tr
                  %th.main__show__contents__content__item-box__table__content__tbody__tr__th
                    発送元の地域
                  %td.main__show__contents__content__item-box__table__content__tbody__tr__td
                    = link_to "#{@item.prefecture}", "#"
                %tr.main__show__contents__content__item-box__table__content__tbody__tr
                  %th.main__show__contents__content__item-box__table__content__tbody__tr__th
                    発送日の目安
                  %td.main__show__contents__content__item-box__table__content__tbody__tr__td
                    = @item.handling_time
          .main__show__contents__content__item-box__optional
            %ul.main__show__contents__content__item-box__optional__left
              %li.main__show__contents__content__item-box__optional__left__btn
                = icon('fa', 'star', class: "main__show__contents__content__item-box__optional__left__btn__star")
                お気に入り 1
            %ul.main__show__contents__content__item-box__optional__right
              %li.main__show__contents__content__item-box__optional__right__btn
                = link_to "#", class: "main__show__contents__content__item-box__optional__right__btn__link" do
                  = icon('fa','flag', class: "main__show__contents__content__item-box__optional__right__btn__link__icon")
                  不適切な商品の通報
        - if user_signed_in? && current_user.id
          .main__show__contents__content__item-user
            .main__show__contents__content__item-user__edit
              = link_to "商品の編集", "#", class: "main__show__contents__content__item-user__edit__link"
            .main__show__contents__content__item-user__destroy
              = link_to "この商品を削除する", "#", class: "main__show__contents__content__item-user__destroy__link"
        .main__show__contents__content__comment-box
          %form{action: "#", class: "main__show__contents__content__comment-box__form"}
            %textarea.main__show__contents__content__comment-box__form__textarea
            %p.main__show__contents__content__comment-box__form__message
              相手のことを考え丁寧なコメントを心がけようコメントを心がけましょう。
              %br
              不愉快な言葉遣いなどは利用制限や退会処分となることがあります。
              %br
            %button{name: "button", type: "submit", class: "main__show__contents__content__comment-box__form__btn"}
              = icon('fa', 'comment', class: "main__show__contents__content__comment-box__form__btn__icon")
              コメントする
      %ul.main__show__contents__links
        %li.main__show__contents__links__left
          = link_to "#", class: "main__show__contents__links__left__link" do
            = icon('fa', 'angle-left', class: "main__show__contents__links__left__link__icon")
            前の商品
        %li.main__show__contents__links__right
          = link_to "#", class: "main__show__contents__links__right__link" do
            後ろの商品
            = icon('fa', 'angle-right', class: "main__show__contents__links__right__link__icon")
      .main__show__contents__items
        = link_to "レディースをもっと見る", "#", class: "main__show__contents__items__link"

= render '/shared/footer'