= render 'shared/header'
.notifications
  - flash.each do |key, value|
    = content_tag(:div, value, class: key)
.mypage-container
  = render 'side-bar'
  .mypage-main
    .mypage-main__header
      %h3 プロフィール
    = form_with model: @user, local: true, url: update_profile_mypage_path, method: 'POST', class: '' do |f|
      .mypage-main__edit-nickname
        = image_tag src="member_photo_noimage_thumb.png"
        - if @user.errors.include?(:nickname)
          = f.text_field :nickname, { class: 'input-nickname-error' ,value: "#{@user.nickname}", placeholder: '例)AYA☆セール中' }
        - else
          = f.text_field :nickname, { class: 'input-nickname' ,value: "#{@user.nickname}", placeholder: '例)AYA☆セール中' }
        = render partial: 'signup/error-messages', locals: {object: @user, column: 'nickname'}
      .field-introduction
        = f.text_area :introduction, autofocus: true, class: 'input-introduction', value: "#{@user.introduction}",placeholder: '例)こんにちは☆ご覧いただきありがとうございます！かわいいものやきれいめオフィスカジュアル中心に出品しています。服のサイズは主に9号です。気持ちよくお取引できるよう心がけていますので、商品や発送方法などご質問がありましたらお気軽にどうぞ♪'
        = f.submit '変更する', class: 'btn-default btn-red'
= render 'shared/footer'