= render 'shared/header'
.notifications
  - flash.each do |key, value|
    = content_tag(:div, value, class: key)
.mypage-container
  = render 'side-bar'
  .mypage-main
    .mypage-main__header
      %h3 支払い方法
    .mypage-main__card
      = render 'pay_form'
= render 'shared/footer'